ExamplePixelHunter/ExamplePixelHunter.xcodeproj/project.xcworkspace/xcshareddata/ExamplePixelHunter.xccheckout
ExamplePixelHunter/ExamplePixelHunter.xcodeproj/xcuserdata/rost.xcuserdatad/xcschemes/ExamplePixelHunter.xcscheme
